@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("/fonts/font.scss");

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #ffffff;
  --black: #000000;
  --blue: #165076;
  --lightBlue: #3399ee;
  --gray: #545556;
  --lightGray: #eff2f7;
  --textColor: #01355b;
  --yellow: #ffe15b;
  --overlayColor: #e5e5e5;
  --green: #8edb7b;
  --red: #ff6868;
  --primary: #9484f6;
  --borderColor: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circe";
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav-menu::-webkit-scrollbar-thumb:horizontal {
  height: 8px;
  background: gray;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  align-items: start;
  background-color: #e9ecef;
}

#root {
  width: 100% !important;
}
table {
  width: 100%;
}

a {
  color: rgb(13, 110, 253);
}
.react-tel-input {
  .form-control {
    width: 100% !important;
  }
  .flag-dropdown {
    border: none !important;
  }
}

.bordered {
  tr {
    border-bottom: 1px solid var(--borderColor);
  }
  tbody {
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
  }
  td {
    border-right: 1px solid var(--borderColor);
    padding: 0 10px;
  }
  th {
    border-right: 1px solid var(--white);
  }
}

.centered {
  td {
    text-align: center;
  }
  th {
    text-align: center;
  }
}
